// display profile: home

output "DP-3" {
    mode "1920x1200@59.950"
    position x=0 y=0
    scale 1.0
}

output "DP-2" {
    mode "2560x1440@143.999"
    position x=1920 y=0
    scale 1.0
}

// often missing (broken monitor), niri skips it when disconnected
output "HDMI-A-1" {
    position x=4480 y=0
    scale 1.0
}

output "eDP-1" {
    position x=2240 y=1440
    scale 1.0
}

window-rule {
    match app-id="floorp"
    open-on-output "DP-3"
    open-maximized true
}

window-rule {
    match app-id="obsidian"
    open-on-output "eDP-1"
    open-maximized true
}

window-rule {
    match app-id="orchestration"
    open-on-output "DP-2"
    open-maximized true
}
